
.searchFeature {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 1150px; 
    height: 40px; 
    padding: 0 30px; 
    box-sizing: border-box; 
  }
  
  
  .search-container {
    display: flex;
    align-items: center;
    background-color: #3b356b; 
    border-radius: 8px; 
    padding: 8px 15px; 
    width: 600px; 
    height: 30px; 
  }
  
  .search-icon {
    color: #a0a4ff;
    font-size: 20px;
    margin-right: 10px;
  }
  
  .search-input {
    background: none; 
    border: none; 
    outline: none; 
    color: #c9c9e0; 
    font-size: 16px;
    width: 100%; 
  }
  
  
  .search-input::placeholder {
    color: #a0a4ff; 
  }
  
  
  .header-right-icons {
    display: flex;
    align-items: center;
    gap: 25px; 
  }
  
  .header-icon {
    color: #a0a4ff; 
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  
  .separator {
    width: 1px;
    height: 30px; 
    background-color: #55508a; 
    margin: 0 5px; 
  }
  
  .user-avatar {
    width: 20px; 
    height: 20px;
    border-radius: 50%; 
    object-fit: cover; 
    border: 2px solid #a0a4ff; 
    cursor: pointer;
  }